[submodule "product-catalog-service"]
	path = product-catalog-service
	url = git@github.com:darkaster72/ecom-product-catalog-service.git
[submodule "user-auth-service"]
	path = user-auth-service
	url = git@github.com:darkaster72/ecom-user-authentication-service.git
[submodule "ecom-ms-bom"]
	path = ecom-ms-bom
	url = git@github.com:darkaster72/ecom-ms-bom.git
[submodule "payment-service"]
	path = payment-service
	url = git@github.com:darkaster72/ecom-payment-service.git
[submodule "service-discovery"]
	path = service-discovery
	url = git@github.com:darkaster72/ecom-service-discovery.git
[submodule "email-service"]
	path = email-service
	url = git@github.com:darkaster72/ecom-email-service.git
